@reference "tailwindcss";

.markdown {
  @apply leading-[1.5];
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply mt-0;
}

.markdown h1,
.markdown h2 {
  @apply text-lg tracking-wide;
}

.markdown a {
  position: relative;
  z-index: 30;
  padding-bottom: 0.05em;
  border-bottom: 1px solid;
  transition: opacity ease 0.3s;
}

.markdown a:hover {
  opacity: 0.8;
}

.markdown table thead {
  display: none;
}

.markdown table td:not(:first-child) {
  @apply pl-2;
}

.markdown iframe {
  position: relative;
  z-index: 30;
  @apply !w-[75%] !max-w-full my-6 mx-auto;
  aspect-ratio: 16/9;
  border: none;
}

/* .markdown iframe[src*="youtube.com"],
.markdown iframe[src*="youtu.be"] {
  min-height: 315px;
} */

.markdown iframe[src*="soundcloud.com"] {
  height: 166px;
  aspect-ratio: unset;
}

.markdown iframe[src*="spotify.com"] {
  height: 352px;
  aspect-ratio: unset;
}

.markdown iframe[src*="music.apple.com"] {
  height: 450px;
  aspect-ratio: unset;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .markdown iframe {
    @apply !w-full mx-0;
  }

  .markdown iframe[src*="soundcloud.com"] {
    height: 120px;
  }

  .markdown iframe[src*="spotify.com"] {
    height: 352px;
  }

  .markdown iframe[src*="music.apple.com"] {
    height: 450px;
  }
}
