.markdown {
  @apply leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply mt-0;
}

.markdown h1,
.markdown h2 {
  @apply text-xl tracking-wide;
}

.markdown a {
  position: relative;
  z-index: 30;
  padding-bottom: 0.05em;
  border-bottom: 1px solid;
}
