.markdown {
  @apply leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p {
  @apply mt-0;
}

.markdown h1,
.markdown h2 {
  @apply text-xl tracking-wide;
}

.markdown a {
  position: relative;
  z-index: 30;
  text-decoration: underline;
}
